body{
    overflow-x: hidden;
    background-color: #23272A;
    margin: 0;
}

header{
    background-color: #798791;
    position: sticky;
    top: 0;
    left: 0;
    width: 100vw;
    height: 80px;
    z-index: 100;
}

header > a{
    color: black;
    font-family: "Segoe UI Semibold";
    text-align: center;
    text-decoration: none;
    margin-top: 10px;
    font-size: 30;
    width: 14vw;
    height: 60px;
    line-height: 60px;
    border-radius: 42.5px;
}

header > .NotActive-Button{
    background-color: #99AAB5;
}

header > .NotActive-button:hover{
    background-color: #7289DA;
    transition: background-color 0.25s;
}

header > .Active-Button{
    background-color: #7289DA;
}

header > #ButtonLeft{
    float: left;
    margin-left: 2.5%;
}

header > #ButtonRight{
    float: right;
    margin-right: 2.5%;
}

#header-logo{
    float: left;
    margin-left: 2.5%;
    margin-top: 10px;
    width: 150px;
    height: 60px;
}

#header-logo img{
    width: 150px;
    height: 60px;
}

#header-logo:hover img{
    width: 160px;
    height: 64px;
    margin-left: -5px;
    margin-top: -2px;
    transition: width 0.25s, height 0.25s, margin-left 0.25s, margin-top 0.25s;
}

#editproduct{
    position: absolute;
    float: right;
    margin-top: 90px;
    right: 30px;
    width: 60px;
    height: 60px;
    text-align: center;
    font-size: 45;
    line-height: 60px;
    transform: rotate(0deg);
    transition: transform 0.25s;
}

#editproduct:not(:hover):before{
    content: "settings";
    color: #99AAB5;
    transition: color 0.25s;
}

#editproduct:hover:before{
    content: "settings";
    color: #7289DA;
    transition: color 0.25s;
}

#editproduct:hover{
    transform: rotate(-90deg);
    transition: transform 0.25s;
}

#addproduct{
    position: absolute;
    float: right;
    margin-top: 90px;
    right: 30px;
    width: 60px;
    height: 60px;
    text-align: center;
    font-size: 45;
    line-height: 60px;
    transform: rotate(0deg);
    transition: transform 0.25s;
}

#addproduct:not(:hover):before{
    content: "add_circle_outline";
    color: #99AAB5;
    transition: color 0.25s;
}

#addproduct:hover:before{
    content: "add_circle";
    color: #7289DA;
    transition: color 0.25s;
}

#addproduct:hover{
    transform: rotate(-90deg);
    transition: transform 0.25s;
}